*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:hsl(47, 88%, 63%);
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.card{
    background:#fff;
    margin: auto;
    max-width: 400px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 10px 10px black;
    margin-top:100px;
    
}
.svg{
    border-radius: 20px;
    width: 100%;
    padding: 10px;
}
.learning{
    background:hsl(47, 88%, 63%);
    width: 90px;
    font-weight: 900;
    padding: 8px;
    border-radius: 5px;
    font-size: 14px;
    align-items: center;
}

.text_containt{
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    
}
.text_containt p{
    color: #494949;
    font-size: 1.15rem;
    letter-spacing: 1px;
    padding: 10px;
}


span{
    margin: 8px;
}
h2{
    margin: 10px;
}
.perfil{
    display: flex;
    flex-flow:row wrap;
    align-items: center;
    margin: 10px;
    padding: 10px;
}
.perfil img{
    width:55px;


}
.perfil h4{
    margin-left: 15px;
    font-weight: 800;
}


@media screen and (max-width: 600px) {
    .card{
        max-width: 85%;
    }
}